
.menu{
  position: absolute;
  top:2%;
  
}

.side {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 80px;
}

.side .nav-item b {
  font-size: 15px;
  position: absolute;
  top: 1%;
  left: 18%;
}

.side .nav-link {
  color: white;
  font-size: 20px;
  padding-left: 25px;
}

.side .nav-link:hover,
.nav-link:focus {
  color: white;
}

.main-icons {
  position: absolute;
  top: 5%;
  bottom: 30%;
}

.user-icons {
  position: fixed;
  bottom: 0;
}

.main-icons .nav-link:focus,
.user-icons .nav-link:focus {
  color: white;
}

.active {
  border-left: 3px solid white;
}

